[submodule "polamp_env"]
	path = polamp_env
	url = https://github.com/BrianAnguloYauri/polamp_env.git
[submodule "MFNLC_for_polamp_env"]
	path = MFNLC_for_polamp_env
	url = https://github.com/Gricha1/MFNLC_for_polamp_env
